@CHARSET "UTF-8";
 #content_right{
     float: right;
     width:1650px;
     height:400px;
      top:50px;
    
    }
     #content_left{
     border:solid #8000ff 1px;
     width:200px;
     height:900px; 
     float:left;
     
    }
    #content{
       width:1500;
       height:auto;
       border:solid green 3px;
    }
   