@CHARSET "UTF-8";

div{
	/*border: 1px red solid;*/
}

.container{	
	height:200px;
	width:420px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-210px;
}

.container .box .right{
	text-align: right;	
}

.container .box input{
	width:220px;
	height:25px;
}

.container .box input,img{
	vertical-align: middle;
}

.container .box img{
	cursor: pointer;
}

.operator{
	margin-top:20px;
	text-align:center;
}

.container .box .operator input{
	width:100px;
}

.container .box .tip{
	margin-top:20px;
}

.container .box .tip span{
	color:red;
}